* {
    padding: 0;
    margin: 0;
}
ul,
li {
    list-style: none;
}
#container{
    width: 100%;
    height: 100%;
}
.container {
    margin: auto;
    width: 1200px;
    height: 100%;
    padding-bottom: 30px;
}
#container a{
    text-decoration: none;
    color: #000;
}
#container a:hover{
    text-decoration: none;
    color: #000;
}
ul {
    
    overflow: hidden;
}
.list{
    width: 1200px;
}
.list-item {
    width: 220px;
    height: 370px;
    border: 1px solid #ccc;
    float: left;
    margin-top: 10px;
    margin-left: 10px;
}

.list-item .row {
    margin: 0;
}

.thumbnail{
    border: none; 
    height: 100%;
    padding: 0;
}
.thumbnail img{
    width: 100%;
}
.list-item .title {
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.list-item .title .breadcrumb {
    height: 36px;
    overflow: hidden;
}

.list-item .row h3 {
    text-overflow: ellipsis;
    /*有些示例里需要定义该属性，实际可省略*/
    display: -webkit-box;
    -webkit-line-clamp: 2;
    /*规定超过两行的部分截断*/
    -webkit-box-orient: vertical;
    overflow: hidden;
    word-break: break-all;
    font-size: 12px;
    /*在任何地方换行*/
}

.list-item .row .price {
    font-size: 23px;
    color: #000;
    font-weight: 600;
}

.spxr1{
    float: left;
    text-align: center;
    display: block;
    width: 45px;
    height: 20px;
    line-height: 20px;
    background-color: #f03867;
    color: #ffffff;
    border-radius: 10px;
    font-size: 12px;
    margin-top: 5px;
}

.page {
    height: 40px;
    /* border: 1px solid skyblue; */
    width: 800px;
    margin: auto;
    margin-top: 30px;
}
.page .list{
    width: 300px;
}
.page .first{
    width: 40px;
    height: 30px;
    line-height: 30px;
}
.page .prev{
    width: 55px;
    height: 30px;
    line-height: 30px;
}
.page .next{
    width: 55px;
    height: 30px;
    line-height: 30px;
}
.page .last{
    width: 70px;
    height: 30px;
    line-height: 30px;
}
.page p {
    cursor: pointer;
}